<!-- /views/booking/index -->
<div class="bookings-container" >
	<% if @bookings.size < 1 %>
	  <div class="booking-card">
	  	<h4>Looks like you haven't scheduled any trips yet!</h4>
	  </div>
	<% else %>
	  <%= render "bookings-list" %>
	<% end %>
</div>


