<!-- /views/booking/index -->
<div class="pages-container">
<style>
h4 {text-align: center;}
</style>
<div class="bookings-container" >
	<% if @bookings.size < 1 %>
    <h4>Looks like you haven't scheduled any trips yet!</h4>
	  <div class="booking-card">
	  </div>
	<% else %>
	  <%= render "bookings-list" %>
	<% end %>
</div>
</div>


