.container {
  border: 1px solid red;
}

.apartment-photo-collage {
  padding: 0;
  border: 1px solid black;
  img {
    width: 100%;
  }
}

.apartment-details {
  padding: 0;
  border: 1px solid black;
}

.apartment-booking-form {
  padding: 0;
  border: 1px solid black;
}

.apartment-controls {
  padding: 0;
  border: 1px solid black;
}

