<form class="form-search" method="get" id="s" action="/apartments">
        <div>
          <input class="input" type="text" class="search-bar" placeholder="search..." name="query" autocomplete="off">
       </div>
      </form>
