.btn {
  width: 100px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #93DDDB;
  opacity: 0.8;
  font-weight: lighter;
  margin: 30px;
  font-size: 20px;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  opacity: 1;
}
