/* Main navbar */
.navbar-wagon {
  box-shadow: 20 8px 6px -6px;
  background: #fff;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px;
  display: flex;
  font-family: "metropolis",sans-serif;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
}

/* Logo */
.logo {
  height: 25px;
  padding: 10px;
  opacity: 20;
  filter: alpha(opacity=50);

}

// /* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'hk_groteskbold';
  font-size: 9px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  padding-right: 10px;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  margin-right: 20px;

}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  justify-content: space-between;
  color: #000;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: black;
  transition: all 0.25s ease-in-out;
  text-decoration: underline;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: all 0.25s ease-in-out;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #CCAA50 !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
