<form class="form-group" method="get" id="search-bar" action="/">
    <input id="search-field" type="text" placeholder="Find a host near you">
    <input class="btn btn-danger" type="submit" value="Search">
</form>
