<form class="form-group" method="get" id="search-bar" action="/apartments/map_search">
    <input id="search-field" name="query" type="text" placeholder="Find a host near you">
    <input class="btn btn-danger" type="submit" value="Trip Out">
</form>
