<!-- Layout: two equal windows, no margin -->
<div class="custom-container">
  <div class="left-window no-padding">
    <div class="card-container">
      <%= render partial: "layouts/map-left-window"%>
    </div>
  </div>

  <div class="right-window no-padding">
    <%= render partial: "apartments/map_show" %>
  </div>
</div>

