   <hr>
  <footer>
    <p><small>&copy; 2019, Clone Airb&b, LeWagon Team</small></p>
    <p><small>Contact Us: <a href="mailto:taylor.caitie@gmail.com?subject=Hi%20there!">_______@gmail.com</small></p>
  </footer>
